<div class="container">
  <div class="lists">
    <section class="block list">
      <h2>Our Key Solution Benefits:</h2>
      <ul>
        <li class="list__item">
          Same day company formation - normally within 2 hours
        </li>
        <li class="list__item">Personal account manager</li>
        <li class="list__item">
          Fixed accounting fees - agreed in advance and not dependent upon
          income level
        </li>
        <li class="list__item">Full Service Monthly & Quarterly Bookkeeping</li>
        <li class="list__item">Tax planning</li>
        <li class="list__item">Job Costing/Estimating & Budget Analysis</li>
        <li class="list__item">On-site Software set-up</li>
        <li class="list__item">QuickBooks Program Trouble Shooting</li>
        <li class="list__item">Office Organization</li>
      </ul>
    </section>

    <section class="block list">
      <h2>Some of the Bookkeeping Benefits You Will Enjoy Include:</h2>
      <ul>
        <li class="list__item">
          Same day company formation - normally within 2 hours
        </li>
        <li class="list__item">Personal account manager</li>
        <li class="list__item">
          Fixed accounting fees - agreed in advance and not dependent upon
          income level
        </li>
        <li class="list__item">Full Service Monthly & Quarterly Bookkeeping</li>
        <li class="list__item">Tax planning</li>
        <li class="list__item">Job Costing/Estimating & Budget Analysis</li>
        <li class="list__item">On-site Software set-up</li>
        <li class="list__item">QuickBooks Program Trouble Shooting</li>
        <li class="list__item">Office Organization</li>
      </ul>
    </section>
  </div>

  <ul class="info">
    <li class="info__item">
      <h2>Our Company at a Glance</h2>
      <p>
        We are dedicated to assisting you virtually with all your accounting &
        tax needs. We've been around for over 20+ years. Current member of the
        NSA, AIPB & CTEC certified. Our approach to accounting is a little
        different. Here you are a V.I.P. not a number. Quality clients over
        quantity is value for our bottom line.
      </p>
    </li>
  </ul>
</div>
