<section class="hero">
  <h1 class="hero__heading">Welcome</h1>
  <p>
    We offer professional, confidential services to our clients, both
    individuals and small businesses. For over 20 plus years, we enjoy providing
    accounting, record-keeping, tax and payroll services virtually throughout
    California, Texas, Nevada, Utah, Colorado, Hawaii, and Michigan. Our
    satisfaction comes from helping our clients achieve their financial needs,
    goals and dreams. We are delighted you are here and look forward to helping
    you achieve your goals.
  </p>
  <footer class="hero__footer">
    <p>Accounting is the Language of the Practical Business Life</p>
  </footer>
</section>
