<section class="block container list">
  <h2>Our Key Solution Benefits:</h2>
  <ul>
    <li class="list__item">
      Same day company formation - normally within 2 hours
    </li>
    <li class="list__item">Personal account manager</li>
    <li class="list__item">
      Fixed accounting fees - agreed in advance and not dependent upon income
      level
    </li>
    <li class="list__item">Full Service Monthly & Quarterly Bookkeeping</li>
    <li class="list__item">Tax planning</li>
    <li class="list__item">Job Costing/Estimating & Budget Analysis</li>
    <li class="list__item">On-site Software set-up</li>
    <li class="list__item">QuickBooks Program Trouble Shooting</li>
    <li class="list__item">Office Organization</li>
  </ul>
</section>
