@import './normalize.css';

:root {
    --color-body: #A5A5A5;
    --color-headings: #F0F0F0;
    --color-buttons: #2A2A2A;
}

*, *::before, *::after {
    box-sizing: border-box;
}

::selection {
    background: #E6E6E6;
    color: #000;
}

html {
    font-size: 62.5%;
}

body {
    font-family: montserrat, Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 2.2rem;
    line-height: 1.5;
    background: #000;
}

h1,
h2,
h3 {
    color: var(--color-headings);
    margin-bottom: 1.1rem;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

h3 {
    font-weight: 300;
    font-size: 2.4rem;
}

p {
    margin-top: 0;
}

a {
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }
    h1 {
        font-size: 10rem;
    }
    h2 {
        font-size: 4rem;
    }
    h3 {
        font-size: 3rem;
    }
}

.btn {
    display: inline-block;
    background: var(--color-buttons);
    border: 0;
    color: var(--color-headings);
    font-weight: 600;
    padding: 2rem 2.5rem;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    outline: 0;
    margin: 1rem 0;
    cursor: pointer;
    line-height: 2.4rem;
    font-size: 1.8rem;
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.5rem;
    }
}

.info__item {
    text-align: center;
    margin-bottom: 3rem;
}

.grid {
    display: grid;
}

@media screen and (min-width: 768px) {
    .info {
        grid-template-columns: 1fr 1fr;
        column-gap: 5rem;
    }
}